@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E2E2E2;
}

:root {
    /* BACKGROUND-COLORS */
    --back-main: #e2e2e2;
    --main-color: #001869;
    --second-color: #5288c11a;
    /* TEXT COLORS */
    --main-text-color: #5288C1;
    --second-text-color: #565656;
    --third-text-color: #5288C1;
    --third-color-opacity: #5288c1d0;
}

*::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 25px;
    cursor: pointer;
}

*::selection {
    background-color: #4400fd;
    color: white;
}

.center {
    width: 100%;
    margin: 0 auto;
}

.main {
    min-height: 100vh;
    padding-top: 80px;
}

@media (max-width: 520px) {
    .center {
        width: 100%;
    }
    .main {
        width: 100%;
        padding-top: 160px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
